<div>
    <h1 style="text-align:center; margin-bottom:40px">プロフィール</h1>
   <div style="display:grid; grid-template-columns:40% 60%">
        <p style="text-align:center;">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, style:"width:250px;height:300px"%>
      <% end %>
    </p>
        <div style="border-left:1px solid #ccc; padding-left:90px; padding-top:30px">
            <h3 style="font-size:25px; margin-bottom: 25px">名前: 
            <div style="padding-left:30px"><%=@user.name%></div></h3>
            <h3 style="font-size:25px; margin-bottom: 25px">年齢: 
            <div style="padding-left:30px"><%=@user.age %></div></h3>
            <h3 style="font-size:25px; margin-bottom: 25px">メールアドレス: 
            <div style="padding-left:30px"><%=@user.email %></div></h3>
        </div>
   </div>
</div>