<style>
    .miru {
        margin-left: 10px;
    }
</style>

<div class="card w-50" style="margin: 0 auto;">
  <div class="card-body">
    <h3 style="text-align: center;">編集</h3></br>

    <%= render 'form', food: @food %>
    </br>
    <%= link_to '見る', restaurant_food_path(@food), class:"btn btn-secondary miru" %>
  </div>
</div>

