<div class="card">
    <div class="card-body">
        <h1 style="text-align:center">新しいフード</h1></br>

        <%= render 'form', food: @food %></br>
        <%= link_to '戻る', restaurant_path(@restaurant), class:"btn btn-secondary", style:"width:100px; margin-left:10px" %>
    </div>
</div>



