<div class="card">
    <div class="card-body">
        <h1>新しい食べ物</h1></br>

        <%= render 'form', food: @food %></br>
        <%= link_to 'Back', restaurant_path(@restaurant), class:"btn btn-secondary" %>
    </div>
</div>



