<div class="alert alert-primary" role="alert">
    <%= notice %>
    <button type="button" class="close text-light" data-dismiss="alert" aria-label="Close" style="outline: none; border: 1px solid bg
    ">
        <span aria-hidden="true">&times;</span>
    </button>
</div>