<div class="alert alert-primary" role="alert">
    <%= notice %>
    <button type="button" class="close text-primary bg-transparent border border-primary" data-dismiss="alert" aria-label="Close" style="outline: none;">
        <span aria-hidden="true">&times;</span>
    </button>
</div>